<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Allow access to .well-known directory for SSL and Deep Links
  RewriteCond %{REQUEST_URI} !^/\.well-known/.*
  
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>

# Ensure assetlinks.json is served with correct content-type
<IfModule mod_headers.c>
  <Files "assetlinks.json">
    Header set Content-Type "application/json"
  </Files>
</IfModule>
